*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    padding: 1% 3%;
}
h1{
    font-size: 100px;
    user-select: none;
}
.up img{
    width: 10%;
}
#f{
    width: 7%;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav a{
    background-color: rgb(255, 175, 76);
    color: rgb(153, 84, 0);
    text-decoration: none;
    font-weight: bold;
    border: solid 5px black;
    padding: 1% 10.77%;
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgb(220 220 220 / 44%);
}
main section{
    padding: 3%;
}
main section h2{
    padding: 0 1%;
    margin: 0 4%;
    background-color: rgba(255, 228, 196, 0.471);
    border-radius: 25px;
}
main section div{
    background-color: rgba(255, 228, 196, 0.666);
    border-radius: 25px;
    padding: 1%;
}
main .a{
    display: flex;
    align-items: center
}
main .b{
    display: flex;
    flex-direction: row-reverse;
    align-items: center
}

.titresorties{
    text-decoration: underline;
    padding: 1%;
    width: 29%;
    margin-left: 3%;
    background-color: #e5e5e5;
    border-top: 15px solid rgb(255, 175, 76);
    border-left: 15px solid rgb(255, 175, 76);
}
.ziksorties{
    display: flex;
    justify-content: space-around;
}
.ziksorties div{
    text-align: center;
    padding: 10px;
}
.ziksorties p{
    font-weight: bold;
    background-image: linear-gradient( to right , burlywood 0%, blanchedalmond 100%);
}
.ziksorties img{
    padding: 1%;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 175, 76);
    padding: 10px;
    border-top: 3px solid rgb(153, 84, 0);
}
.footer img{
    width: 6%;
}
ul{
    list-style-type: none;
    list-style-type: disclosure-closed;
}
li{
    text-decoration: none;
}
.mesprods{
    background-color: rgba(255, 228, 196, 0.471);
    border: 2px outset black;
    padding: 1%;
    width: 12%;
}  
.mecontacter{
    background-color: rgba(255, 228, 196, 0.471);
    border: 2px outset black;
    padding: 1%; 
    width: 10%;
}
ul a{
    color: #1e1e1e;
    text-decoration : none;
}
ul a:hover{
    background-color: #9f9595;
    color: black;
    font-style: italic;
}

.maincontact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincontact h2{
    font-size: 70px;
}

.maincontact img{
    width: 30%;
}

.defrap{
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    padding: 1% 20% 1% 10%;
    width: 70%;
} 
.defrap h2{
    padding: 0;
    background-color: rgba(245, 245, 220, 0);
}
.quest{
    color: whitesmoke;
    background-image: linear-gradient(to right, #0e0d0d 0%, #4da8f300 70%);
    width: 15%;
}

.rep{
    background-color: blanchedalmond;
    border: 2px solid black;
    margin-top: 5px;
}
.titrartistes{
    padding: 1% 2%;
    text-decoration: underline black;
    background-color: #e5e5e5;
}
.artistes{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #e5e5e5;
}
.artistes img{
    width: 40%;
}
.fotopop img{
    width: 20%;
}
.artistes a{
    color: #1e1e1e;
    text-decoration : none;
}
.artistes a:hover{
    background-color: #be4a4a85;
    color: rgb(161, 151, 190);
}

.titreartiste{
    padding: 2%;
    text-align: center;
    background-color: #cbcbcb;
    text-decoration: underline;
}
.descartiste{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: #e5e5e5;
}
.descartiste img{
    width: 30%;
    border: 4px solid black;
}
.descartiste p{
    background-color: blanchedalmond;
    width: 50%;    
    border: 2px solid black;
    line-height: 150%;
}
.zikpref{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: burlywood;
    border: 2px solid black;
}
.zikpref .topzikpref{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}
.zikpref img{
    width: 19%;
    border: 4px solid black;
}
.zikpref p{
    font-size: 14px;
}
.zikpref .pkzikpref{
    width: 95%;
    padding: 2%;
}
.titrezikpref{
    text-decoration: underline;
}
.newest{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: burlywood;
    border: 2px solid black;

}
.newest .topnewest{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newest .topnewest h3{
    padding: 2%;
    text-decoration: underline;
}
.newest img{
    width: 19%;
    border: 4px solid black;
}
.newest .descnewest{
    padding: 2%;
    width: 95%;
}
.newest p{
    font-size: 14px;
}
.divbas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5e5e5;
    padding-bottom: 4%;
}  